<a href="https://colab.research.google.com/github/Theubaa/coding-pratice/blob/main/if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = int(input("enter your age"))
if age >= 100:
  print("you r budha")
else:
  print("you r not budha")

enter your age100
you r budha

# find maximum between two numbers

In [ ]:
number_1 = int(input("enter first number"))
number_2 = int(input("enter second number"))
if number_1 > number_2:
  print("number_1 is greater")
else:
  print("number_2 is greater")

enter first number12
enter second number33
number_2 is greater

# find maximum between three numbers

In [ ]:
first_no = int(input("entwer the 1st no"))
second_no = int(input("entwer the 2nd no"))
third_no = int(input("entwer the 3rd no"))
if first_no >= second_no and first_no >= third_no:
  print(first_no)
elif second_no >= first_no and second_no >= third_no:
  print(second_no)
else:
  print(third_no)

entwer the 1st no16
entwer the 2nd no32
entwer the 3rd no10
32

# wap to check no is negative , positive or zero

In [ ]:
num = int(input("enter the no"))
if num>0:
  print("positive")
elif num==0:
  print("zero")
else:
  print("Negative")

enter the no-10
Negative

# check the no is divisible by 5 or 11 or not

In [ ]:
num = int(input("enter the no"))
if (num%5==0 and num%11==0):
  print("no divisible by 5 or 11")
elif num%11 == 0:
  print("no is divisible by 11")
elif num%5 ==0:
  print("no divisible by 5 ")
else :
  print("no is not divisible by 5 or 11")

enter the no17
no is not divisible by 5 or 11

# check the no is even or odd

In [ ]:
num = int(input("enter the no"))
if num%2==0:
  print("no is even")
else:
  print("no is odd")

enter the no17
no is odd

# year is leap year or not

In [2]:
year = int(input("enter the year"))
if year/4 == 0:
  print("leap year")
elif year/400 == 0:
  print("leap year")
elif year/100==0:
  print("leap year")
else:
  print("not leap year")

enter the year1700
not leap year

# Python program to perform Addition Subtraction Multiplication
### and Division of two numbers

In [ ]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))
print("Enter which operation would you like to perform?")
ch = input("Enter any of these char for specific operation +,-,*,/: ")
result = 0
if ch == '+':
 result = num1 + num2
elif ch == '-':
 result = num1 - num2
elif ch == '*':
 result = num1 * num2
elif ch == '/':
 result = num1 / num2
else:
 print("Input character is not recognized!")
print(num1, ch , num2, ":", result)

Enter First Number: 2
Enter Second Number: 3
Enter which operation would you like to perform?
Enter any of these char for specific operation +,-,*,/: +
2 + 3 : 5

# check character is Capital or small

In [17]:
char = input("enter the char",)

if char == char.upper():
	print("Uppercase")
else:
	print("Lowercase")

enter the charRAM BAHADUR IS FAKE
Uppercase

# cHECK aLPHABET IS VOWEL OR CONSONENTT

In [18]:
vowel = ('a','e','i','o','u','A','E','I','O','U')
consonent =('B', 'C','D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z','b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y' , 'z')
char = input("Enter a alphabet")
if char == vowel:
  print("alphabet is vowel")
else :
  print("alphabet is consonant")

Enter a alphabetd
alphabet is consonant

# input week no and print week day

In [19]:
day_1 = ('monday')
day_2 = ('tuesday')
day_3 = ('wednesday')
day_4 = ('thursday')
day_5 = ('friday')
day_6 = ('saturday')
day_7 = ('Sunday')

usr_input = int(input("enter the week day  in no"))
if usr_input==1:
  print(day_1)
elif usr_input==2:
  print(day_2)
elif usr_input==3:
  print(day_3)
elif usr_input==4:
  print(day_4)
elif usr_input==5:
  print(day_5)
elif usr_input==6:
  print(day_6)
elif usr_input==7:
  print(day_7)
else:
  print("invalid day")

enter the week day  in no6
saturday

# enter the month no and get month name and how many days in month

In [21]:
month_1 = ('January', '31 days')
month_2 = ('February', '28 days', 'leap year then 29')
month_3 = ('march', '31 days')
month_4 = ('april', '30 days')
month_5 = ('may', '31 days')
month_6 = ('June', '30 days')
month_7 = ('July', '31 days')
month_8 = ('august', '31 days')
month_9 = ('september', '30 days')
month_10 = ('october', '31 days')
month_11 = ('november', '30 days')
month_12= ('december', '31 days')
month_no = int(input("enter the month no"))
if month_no == 1:
  print(month_1)
elif month_no == 2:
  print(month_2)
elif month_no == 3:
  print(month_3)
elif month_no == 4:
  print(month_4)
elif month_no == 5:
  print(month_2)
elif month_no == 6:
  print(month_6)
elif month_no == 7:
  print(month_2)
elif month_no == 8:
  print(month_8)
elif month_no == 9:
  print(month_9)
elif month_no == 10:
  print(month_10)
elif month_no == 11:
  print(month_11)
elif month_no == 12:
  print(month_12)
else:
  print("invalid month no")

enter the month no6
('June', '30 days')